<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TerraServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://terraserver-usa.com/TerraService2.asmx"
                binding="basicHttpBinding" bindingConfiguration="TerraServiceSoap"
                contract="TerraServerReference.TerraServiceSoap" name="TerraServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>